<a href="https://colab.research.google.com/github/RanxduG/Machine-Learning-Coursework/blob/main/ML_Coursework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Preprocessing

In [ ]:
import pandas as pd

# Load the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
                'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
                'hours-per-week', 'native-country', 'income']
df = pd.read_csv(url, names=column_names, na_values=' ?')

# Display brief description of the dataset
print("Dataset Description:")
print(df.info())
print("\nSample records:")
print(df.head())

Dataset Description:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

Sample records:
   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

##Data Preprocessing

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import pandas as pd
# Initialize LabelEncoder
label_encoder = LabelEncoder()

preprocessed_df = df.copy()


workclass_column = preprocessed_df['workclass']
label_encoder.fit(workclass_column)
preprocessed_df['workclass'] = label_encoder.transform(workclass_column)

education_column = preprocessed_df['education']
label_encoder.fit(education_column)
preprocessed_df['education'] = label_encoder.transform(education_column)

marital_status_column = preprocessed_df['marital-status']
label_encoder.fit(marital_status_column)
preprocessed_df['marital-status'] = label_encoder.transform(marital_status_column)

occupation_column = preprocessed_df['occupation']
label_encoder.fit(occupation_column)
preprocessed_df['occupation'] = label_encoder.transform(occupation_column)

relationship_column = preprocessed_df['relationship']
label_encoder.fit(relationship_column)
preprocessed_df['relationship'] = label_encoder.transform(relationship_column)

race_column = preprocessed_df['race']
label_encoder.fit(race_column)
preprocessed_df['race'] = label_encoder.transform(race_column)

sex_column = preprocessed_df['sex']
label_encoder.fit(sex_column)
preprocessed_df['sex'] = label_encoder.transform(sex_column)

native_country_column = preprocessed_df['native-country']
label_encoder.fit(native_country_column)
preprocessed_df['native-country'] = label_encoder.transform(native_country_column)

income_column = preprocessed_df['income']
label_encoder.fit(income_column)
preprocessed_df['income'] = label_encoder.transform(income_column)

df.dropna(inplace = True)
print(preprocessed_df.tail())

# Separate features and target variable
x = preprocessed_df.drop('income', axis=1).values  # Convert DataFrame to NumPy array
y = preprocessed_df['income'].copy()
print(x.shape)
print(y.shape)

       age  workclass  fnlwgt  education  education-num  marital-status  \
32556   27          2  257302          7             12               2
32557   40          2  154374         11              9               2
32558   58          2  151910         11              9               6
32559   22          2  201490         11              9               4
32560   52          3  287927         11              9               2

       occupation  relationship  race  sex  capital-gain  capital-loss  \
32556          12             5     4    0             0             0
32557           6             0     4    1             0             0
32558           0             4     4    0             0             0
32559           0             3     4    1             0             0
32560           3             5     4    0         15024             0

       hours-per-week  native-country  income
32556              38              38       0
32557              40              38       1
32558              40              38       0
32559              20              38       0
32560              40              38       1
(30162, 14)
(30162,)

In [ ]:
# Identify columns with string values
string_columns = preprocessed_df.select_dtypes(include=['object']).columns

print("Columns with string values:")
print(string_columns)

Columns with string values:
Index([], dtype='object')

##Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)
print(y_train.shape)

(24129,)

##Model Training

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

# Train Na誰ve Bayes model
naive_bayes = GaussianNB()
naive_bayes.fit(x_train, y_train)

# Train Random Forest Classification model
random_forest = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest.fit(x_train, y_train)

# Evaluation
from sklearn.metrics import classification_report

# Predict on the test set for Na誰ve Bayes
y_pred_nb = naive_bayes.predict(x_test)
print("\nNa誰ve Bayes Classification Report:")
print(classification_report(y_test, y_pred_nb))

# Predict on the test set for Random Forest
y_pred_rf = random_forest.predict(x_test)
print("\nRandom Forest Classification Report:")
print(classification_report(y_test, y_pred_rf))

Na誰ve Bayes Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.95      0.87      4541
           1       0.66      0.31      0.43      1492

    accuracy                           0.79      6033
   macro avg       0.73      0.63      0.65      6033
weighted avg       0.77      0.79      0.76      6033


Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.93      0.91      4541
           1       0.75      0.65      0.69      1492

    accuracy                           0.86      6033
   macro avg       0.82      0.79      0.80      6033
weighted avg       0.85      0.86      0.86      6033

##Model Testing